

.cabecalho {
    background-color: #424e61;
    color:white
    display: flex;
    justify-content: space-around;
     <align-intems>: center;
}

.cabecalho-imagem
      width:20%;
}

.cabecalho-lista-item{
      display: inline-block;
    